<div class="posts">
    <section class="card">
        <div class="card-head">
            <span class="title">{{title}}</span>
            <span class="author">Posted by KD on 5/8/2020</span>
        </div>
        <div class="card-body">
            <p class="content">{{content}}</p>
        </div>
    </section>
</div>