    <header>
        <h1>Tech-Connect</h1>
        <ul>
            <li><button id="home" class="btn-no-style">Home</button></li>
            <li><button id="dashboard" class="btn-no-style">Dashboard</button></li>
            <li><button id="logout" class="btn-no-style">Logout</button></li>
        </ul>
    </header>
    
    <div class="home-title">
        <h3><i class="fa fa-columns"></i> Dashboard</h3>
    </div>
    <div class="post-container">
        {{#if posts.length}}
            {{#each posts as |post|}}
                {{> post-details post}}
                <a class="edit-a"href="/api/users/edit/{{post.id}}"><button class="edit-button">Edit</button></a>
            {{/each}}
        {{else}}
        <h6>You do not currently have any posts...</h6>
        {{/if}}
    </div>
    <script src="/js/logout.js"></script>
    <script src="/js/dashboard.js"></script>
</body>
</html>