<header>
    <h1>Tech-Connect</h1>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><button id="logout" class="btn-no-style">Logout</button></li>
    </ul>
</header>
<main>
    <div class="home-title">
        <h3>Live Posts</h3>
    </div>
    <div class="posts">
        <section class="card">
            <div class="head">
                <span class="title">Post Title</span>
                <span class="author">Posted by KD on 5/8/2020</span>
            </div>
            <div class="card-body">
                <p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, repellat facilis! Autem veritatis nam ex alias, at reprehenderit quisquam sunt?</p>
            </div>
        </section>
    </div>
</main>