<main>
    <div class="log-in-display">
        <div class="login-card2">
            <h1 class="page-title text-dark">Login</h1>
            <form class="form login-form">
                <div class="form-group">
                <label for="email-login" class="text-dark">Email:</label>
                <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group">
                <label for="password-login" class="text-dark">Password:</label>
                <input class="form-input" type="password" id="password-login" />
                </div>
                <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">login</button>
                </div>
            </form>
            <p class="pt-2 logIn">Dont have an account? <span><a href="/">Create an account</a></span></p>
        </div>
        <div class="hp-logo">
            <a href="/"><h1 class="logo">Tech-Connect</h1></a>
            <ul>
                <li><i class="fa fa-chevron-right"></i>Connect with people</li>
                <li><i class="fa fa-chevron-right"></i>Share your moments</li>
                <li><i class="fa fa-chevron-right"></i>Expand your knowledge</li>
            </ul>
        </div>
    </div>
</main>

<script src="./js/login.js"></script>
