<main>
    <div class="background"></div>
    <div class="hp-display">
        <div class="login-card1">
            <h1 class="page-title text-dark">Sign-up for free!</h1>
            <h3 class="text-dark">Create an account</h3>
            <form class="form signup-form">
                <div class="form-group">
                <label for="username-signup" class="text-dark">Username:</label>
                <input class="form-input" type="text" id="username-signup" />
                </div>
                <div class="form-group">
                <label for="email-signup" class="text-dark">Email:</label>
                <input class="form-input" type="text" id="email-signup" />
                </div>
                <div class="form-group">
                <label for="password-signup" class="text-dark">Password:</label>
                <input class="form-input" type="password" id="password-signup" />
                </div>
                <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Sign-up</button>
                </div>
            </form>
            <p class="pt-2 logIn">Already have an account? <span> Try <a href="/login">logging in.</a></span></p>
        </div>
        <div class="hp-logo">
            <a href="/"><h1 class="logo">Tech-Connect</h1></a>
            <ul>
                <li><i class="fa fa-chevron-right"></i>Connect with people</li>
                <li><i class="fa fa-chevron-right"></i>Share your moments</li>
                <li><i class="fa fa-chevron-right"></i>Expand your knowledge</li>
            </ul>
        </div>
    </div>
</main>

<script src="./js/signup.js"></script>