    <header>
        <h1>Tech-Connect</h1>
        <ul>
            {{!-- <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li> --}}
            <li><button id="home" class="btn-no-style">Home</button></li>
            <li><button id="dashboard" class="btn-no-style">Dashboard</button></li>
            <li><button id="logout" class="btn-no-style">Logout</button></li>
        </ul>
    </header>
    
    <div class="post-container">
        {{> post-details post}} 
    </div>
    <form class="comment-form">
        <div>
            <textarea class="" id="comment-body"></textarea>
        </div>
        <div>
            <button class="" type="submit">add comment</button>
        </div>
    </form>
    {{> comments post.comments}}
    <script src="/js/logout.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/comment.js"></script>
</body>
</html>